@model CIADatabase.Areas.GWOT.GWOTSections

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Areas/Users/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <!-- Centered Section Title -->
    <h2>@Model.Title</h2>

    <!-- Buttons for editing and deleting the section -->
    @if (Request.IsAuthenticated)
    {
        <div class="mb-4">
            @Html.ActionLink("Edit", "Edit", "GWOTSections", new { id = Model.SectionId, area = "GWOT" }, new { @class = "btn custom-btn" })
            @Html.ActionLink("Delete", "Delete", "GWOTSections", new { id = Model.SectionId, area = "GWOT" }, new { @class = "btn btn-danger" })
        </div>

        <!-- Button to create an article in the current section -->
        @Html.ActionLink("Add Entry", "Create", "GWOTArticles", new { sectionId = Model.SectionId, area = "GWOT" }, new { @class = "btn custom-btn mb-4" })
    }
</div>


@if (Model.Articles != null && Model.Articles.Any())
{
    <div class="container">
        <div class="row justify-content-center">
            @foreach (var article in Model.Articles.OrderBy(p => p.ZuluTime))
            {
                <div class="col-12 mb-3 text-center">
                    <!-- Display the article title as a button -->
                    @if (Model.Title == "Prologue")
                    {
                        @Html.ActionLink(
                            article.ZuluTime.ToString("MMMM yyyy"),
                            "Details",
                            "GWOTArticles",
                            new { id = article.GWOTArticleId, area = "GWOT" },
                            new { @class = "btn custom-btn w-75" }
                        )
                    }
                    else
                    {
                        @Html.ActionLink(
                            article.ZuluTime.ToString("HH:mm") + " Zulu",
                            "Details",
                            "GWOTArticles",
                            new { id = article.GWOTArticleId, area = "GWOT" },
                            new { @class = "btn custom-btn w-75" }
                        )
                    }
                </div>
            }
        </div>
    </div>
}
else
{
    <p class="text-center">No articles available in this section.</p>
}
