@model CIADatabase.Areas.GWOT.Models.GWOTArticle

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Users/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GWOTArticle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZuluTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZuluTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliticalMap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliticalMap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MilitaryMap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MilitaryMap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresidentRegionMap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresidentRegionMap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryMap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryMap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegionMap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionMap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalMap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalMap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityMap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityMap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Briefing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Briefing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Video)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Video)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedPoliticalMap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedPoliticalMap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedMilitaryMap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedMilitaryMap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedRegionMap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedRegionMap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AfterActionReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AfterActionReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GWOTSectionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GWOTSectionId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
